/* Heading */
.centered-heading {
    padding: 20px;
    text-align: center;
}

/* User form */
.user-form {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user-form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.inputField {
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.margin {
    margin: 0px 25px 0px 5px;
}

.required {
    color: red;
}

.error-msg {
    color: red;
    font-size: 10px;
}

button {
    width: 100%;
    height: 42px;
    background-color: #111;
    border-radius: 4px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button:disabled {
    width: 100%;
    align-self: center;
    background-color: #b2afaf;
    color: white;
}

@media (max-width: 768px) {

    .user-form {
        flex: 1;
    }
}