/* App Style */
.App {
  background-color: #d6d6d6;
}

.main-container {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    padding-top: 0px;
  }
}
