/* Heading */
.centered-heading {
    padding: 20px;
    text-align: center;
}

/* Students list */
.detailed-table {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow-x: auto;
    max-width: 100%;
}

.table-parent {
    border-radius: 5px;
}

table {
    border-collapse: separate;
    width: 100%;
    text-indent: initial;
    border-radius: 5px;
}

th,
td {
    padding: 10px;
    border-style: hidden;
}


thead {
    tr {
        background-color: #4c79b0;
    }
}

tbody {
    tr {
        background-color: rgb(200, 193, 193);
    }
}

tr>td>button {
    background-color: transparent;
    border-radius: 5px;
    border: none;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        padding-top: 0px;
    }
}